# Dependencies
node_modules/

# Next.js build output
# next.js
/.next/
/out/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
/.vscode/

# OS
.DS_Store
Thumbs.db
next-env.d.ts